<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <script src="./js/jquery-3.2.1.js"></script>
    <script src="./js/bootstrap.js"></script>
    <style>
        #header,#footer {
            background-color: aquamarine;
        }
        table th {
            text-align: center;
        }
        td {
            padding-right: 5px;
        }

    </style>
</head>
<body>
<!-- begin header-->
<div id="header">
    <h3>Chào mừng đến với ngân hàng KITS</h3>
    <h5>Thời gian hiện tại là 10h</h5>
</div>
<!--end header-->
<!--begin body-->
<div id="body" >
    <h1>Xóa khách hàng</h1>
    <h2>Bạn chắc chắn không</h2>
    <div class="row">
        <form th:action="@{/khachhang/xoa-khachhang}" th:object="${khachhang}" method="post" >
            <table>
                <tr>
                    <td>Mã khách hàng</td>
                    <td><input type="text" th:field="*{makhachhang}" ></td>
                </tr>
                <tr>
                    <td>Tên khách hàng </td>
                    <td><input type="text"th:field="*{tenkhachhang}" ></td>
                </tr>
                <tr>
                    <td>Chứng minh thư</td>
                    <td><input type="text" th:field="*{chungminhthu}" ></td>
                </tr>
                <tr>
                    <td>Ngày sinh</td>
                    <td><input type="text" th:field="*{ngaysinh}" ></td>
                </tr>
                <tr>
                    <td>Địa chỉ</td>
                    <td><input type="text" th:field="*{diachi}" ></td>
                </tr>
                <tr>
                    <button onclick="return confirm('Are you sure to delete');" type="submit">Xóa khách hàng</button>
                </tr>
            </table>
        </form>
    </div>

</div>
<!--end body-->
<!--begin footer-->
<div id="footer">
    <h3>All rights reserved 2020 KITS Bank</h3>
    <div id="footer-bar">
        <a href="#">Về chúng tôi</a>
        <a href="#">Liên hệ</a>
        <a href="#">Thông tin tài chính</a>
    </div>
</div>
<!--end footer-->
</body>
</html>